<dl>
  <nav>
    <b>Name</b>
    {{ data.name }}<br />
    <nav></nav>
    <b>Hair Color</b>
    {{ data.hairColor }}<br />
  </nav>
  <nav>
    <b>Age</b>
    {{ data.age }}<br />
  </nav>
  <nav>
    <b>Gender</b>
    {{ data.gender }}<br />
  </nav>
  <nav>
    <b>Occupation</b>
    {{ data.occupation }}<br />
  </nav>
  <nav>
    <b>Relative</b>
    {{ data.relatives }}<br />
  </nav>
  <nav>
    <b>First Episode</b>
    {{ data.firstEpisode }}<br />
  </nav>
  <nav>
    <b>Voiced By</b>
    {{ data.voicedBy }}<br />
  </nav>
</dl>
