<form [formGroup]="formGroup" (ngSubmit)="doSearch()" class="cmp-search-form">
  <label>
    <b>Search</b>
    <input type="text" formControlName="search" />
  </label>
  <button type="button" class="cl-warn" (click)="doClear()">
    <i class="material-symbols-outlined">clear</i>
  </button>
  <button type="submit" class="cl-primary">
    <i class="material-symbols-outlined">search</i>
  </button>
</form>

<ul class="cmp-list">
  <li
    *ngFor="let item of data.results"
    tabindex="0"
    (click)="doSelect(item)"
    (keydown.enter)="doSelect(item)"
  >
    {{ item.name }}
  </li>
</ul>
